---
import Layout from "src/layouts/Layout.astro";
import ContactForm from "@components/Forms/ContactForm";

const fields = [
  { fieldType: "text", id: "first", name: "First Name" },
  { fieldType: "text", id: "last", name: "Last Name" },
  { fieldType: "email", id: "email", name: "Email Address" },
  { fieldType: "tel", id: "phone", name: "Phone Number" },
];
---

<Layout
  seo={{
    metaTitle: "The Cleanup | Simply Sprout",
    metaDescription: "CHANGE THIS !!!",
  }}
>
  <section class="px-edge py-20">
    <div class="mx-auto max-w-screen-xl">
      <div class="mx-auto max-w-screen-lg text-center">
        <h1 class="text-5xl font-bold">The Cleanup</h1>
        <p class="mt-2 text-lg leading-relaxed">
          Collect leads and optimize how you manage your business. The Cleanup
          focuses on how we can turn your website into a machine that generates
          new leads day and night. Pair that with software that automates your
          boring, repetitive tasks and you have a winning formula to spend more
          time creating value for your customers and less time managing.
        </p>
      </div>
    </div>
  </section>
  <section class="px-edge pb-20">
    <div class="mx-auto max-w-screen-lg">
      <div class="w-full rounded bg-light-green p-5 shadow lg:p-10">
        <h2 class="text-center text-4xl font-bold">Join the Waitlist</h2>
        <ContactForm
          client:load
          button="Join The Waitlist"
          name="Simply Sprout Cleanup Waitlist Form"
          message="Thank you for joining our waitlist for The Cleanup, we will notify when this service is available."
          error="There was an error submitting this form. Please refresh and try again. If the problem persists, please send us an email directly."
          fields={fields}
        />
      </div>
    </div>
  </section>
</Layout>
