---
import { Icon } from "astro-icon";
---

<div
  class="group w-full max-w-md rounded border-2 border-primary bg-white p-5 text-center shadow transition-all duration-75 hover:bg-primary hover:text-white"
>
  <Icon
    name="mdi:check"
    size={80}
    class="p-5 rounded-full group-hover:bg-white group-hover:text-primary bg-primary mx-auto text-white transition-all duration-75"
  />
  <p class="mt-5 text-3xl font-bold">Title</p>
  <p class="mt-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ducimus.
    Aperiam officiis porro velit labore sapiente ipsa. Asperiores, quaerat ad.
    Quasi ullam unde amet a, quas pariatur suscipit earum? Harum!
  </p>
</div>
