---
import { Image } from "@astrojs/image/components";
export interface Props {
  data: {
    img: {
      src: Promise<any>;
      alt: string;
    };
    text: string;
    title: string;
  };
  className?: string;
}

const { data, className = "" } = Astro.props;
---

<div
  class={className + " w-full max-w-md rounded px-12 py-9 text-center shadow"}
>
  <Image class="mx-auto" src={data.img.src} alt={data.img.alt} />
  <p class="mt-5 text-2xl font-bold">{data.title}</p>
  <p class="mt-2 text-lg leading-relaxed">{data.text}</p>
</div>
