---
import { Image } from "@astrojs/image/components";
import Layout from "src/layouts/Layout.astro";
import CallToAction from "src/sections/CallToAction.astro";
import ReviewSection from "src/sections/ReviewSection.astro";
---

<Layout
  seo={{
    metaTitle: "About | Simply Sprout",
    metaDescription: "CHANGE THIS FOR SEO",
  }}
>
  <section class="px-edge py-10 lg:py-20">
    <div class="mx-auto max-w-screen-xl text-center">
      <div class="mx-auto max-w-4xl">
        <h1 class="text-4xl font-bold lg:text-5xl">
          We Simplify Marketing For Busy Business Owners
        </h1>
        <p class="mt-2 text-xl uppercase">
          More <span class="font-bold text-primary">Visibility</span>, More
          <span class="font-bold text-primary">Customers</span>, More <span
            class="font-bold text-primary">Time</span
          >
        </p>
        <p class="mt-2 text-lg leading-relaxed">
          <span class="font-bold">Setting Our Roots:</span> Simply Sprout was founded
          in 2019 with one goal in mind, help busy business owners with their marketing.
          Today, our clients love what Simply Sprout stands for, your partner that
          helps your grow your business and spend more time doing what your love.
        </p>
      </div>
      <Image
        class="mt-5 rounded"
        src={import("@img/about/setting-roots.png")}
        alt="plant setting its roots"
      />
    </div>
  </section>

  <section class="px-edge py-10">
    <div class="mx-auto max-w-screen-xl">
      <div
        class="mx-auto flex max-w-screen-xl flex-col-reverse items-start justify-between gap-5 md:flex-row"
      >
        <div class="shrink grow-0">
          <Image
            class="rounded-full max-w-[500px] h-[500px] object-cover"
            src={import("@img/about/headshot-schneider.jpg")}
            alt="founder - clayton schneider"
          />
        </div>
        <div class="max-w-xl text-center md:text-left">
          <p class="text-2xl font-medium text-accent">Our Story</p>
          <h2 class="text-5xl font-bold">How It All Started</h2>
          <p class="mt-5 text-lg leading-relaxed">
            Building websites has always fascinated me. When I was a kid I would
            build websites on my parents clunky Dell desktop using a software
            called Dreamweaver. I grew up watching the internet mature and was
            there to learn at everystep.
            <br />
            <br />
            Today I have paired my childhood fascination for websites and the internet
            with my strong business sense and listening skills. This combination
            is the essence of what Simply Sprout stands for. Simple, effective marketing
            services designed in a manner that your business actually benefits from.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="px-edge py-10">
    <div class="mx-auto max-w-screen-xl">
      <div
        class="mx-auto mt-10 flex max-w-screen-xl flex-col items-start justify-between gap-5 md:flex-row"
      >
        <div class="max-w-xl text-center md:text-left">
          <p class="text-2xl font-medium text-accent">
            Environmentally Conscious
          </p>
          <h2 class="text-5xl font-bold">We Like Green</h2>
          <p class="mt-5 text-lg leading-relaxed">
            Every website we build is hosted on servers that purchase renewable
            energy certificates that match 100% of the energry needed to power
            our websites (Certified by Green Web Foundation).
          </p>
        </div>
        <div class="shrink grow-0">
          <Image
            class="rounded"
            src={import("@img/about/environmentally.png")}
            alt="environmentally friendly simply sprout"
          />
        </div>
      </div>
    </div>
  </section>

  <CallToAction />
  <ReviewSection />
</Layout>
