---
import { Image } from "@astrojs/image/components";
import ContactForm from "@components/Forms/ContactForm";
import Layout from "src/layouts/Layout.astro";

const fields = [
  { fieldType: "text", id: "first", name: "First Name" },
  { fieldType: "text", id: "last", name: "Last Name" },
  { fieldType: "email", id: "email", name: "Email Address" },
  { fieldType: "tel", id: "phone", name: "Phone Number" },
  { fieldType: "textarea", id: "message", name: "Message" },
];
---

<Layout
  seo={{
    metaTitle: "Contact Us | Simply Sprout",
    metaDescription: "CHANGE THIS !!!",
  }}
>
  <section class="px-edge py-10 lg:py-20">
    <div class="mx-auto max-w-screen-xl">
      <div
        class="flex flex-col items-center justify-between gap-10 lg:flex-row lg:items-start"
      >
        <div class="max-w-xl text-center lg:text-left">
          <h1 class="text-xl uppercase text-accent">Contact US</h1>
          <p class="text-4xl font-bold">Get In Touch With Us</p>
          <p class="mt-2 text-lg leading-relaxed">
            Have a question? Reach out and we will get back to you as soon as
            possible.
          </p>
        </div>
        <div class="w-full max-w-xl rounded bg-light-green p-10 shadow">
          <p class="text-3xl font-bold">Send A Message</p>
          <ContactForm
            client:load
            name="Simply Sprout Contact Form"
            message="Thank you for submitting this contact form. We will reach out to you shortly."
            error="There was an error submitting this form. Please refresh and try again. If the problem persists, please send us an email directly."
            fields={fields}
          />
        </div>
      </div>
    </div>
  </section>
  <section class="px-edge py-10">
    <div class="mx-auto max-w-screen-xl">
      <div
        class="mx-auto flex max-w-screen-xl flex-col-reverse items-start justify-between gap-5 md:flex-row"
      >
        <div class="shrink grow-0">
          <Image
            class=""
            src={import("@img/contact/contact-us.png")}
            alt="founder - clayton schneider"
          />
        </div>
        <div class="max-w-xl text-center md:text-left">
          <h2 class="text-5xl font-bold">Not Sure What You Need?</h2>
          <p class="mt-5 text-lg leading-relaxed">
            Sometimes the hardest part is knowing where to start. Remove that
            friction with a free video review of your marketing and website.
          </p>
          <a
            class="mt-5 inline-block rounded border-2 border-transparent bg-primary py-6 px-7 text-center leading-none text-white transition-all duration-300 hover:border-primary hover:bg-transparent hover:text-primary"
            href="/review">Request My Free Marketing Review</a
          >
        </div>
      </div>
    </div>
  </section>
</Layout>
