---
import { Image } from "@astrojs/image/components";
import IconCard from "@components/Cards/IconCard.astro";
import BenefitsSection from "src/sections/BenefitsSection.astro";
import ReviewSection from "src/sections/ReviewSection.astro";
import ServicesSection from "src/sections/ServicesSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  seo={{
    metaTitle: "Simply Sprout",
    metaDescription: "Meta Description For Simply Sprout",
  }}
>
  <section class="px-edge py-20">
    <div class="mx-auto max-w-screen-xl">
      <div class="flex justify-between gap-10">
        <div class="max-w-2xl">
          <h1 class="text-lg">Web Design Agency</h1>
          <h2 class="text-4xl font-bold">
            What if Your Website Generated More Traffic, Leads, and Sales?
          </h2>
          <p class="mt-5 text-lg leading-relaxed">
            Busy business owners choose Simply Sprout when they want more
            visibility, more customers, more time. Request your free review of
            your website and marketing. We’ll show you how to make improvements
            in just 15 minutes!
          </p>
          <a
            href="/request"
            class="mt-5 inline-block rounded border-2 border-transparent bg-primary py-6 px-7 text-center leading-none text-white transition-all duration-300 hover:border-primary hover:bg-transparent hover:text-primary"
            >Request My Free Website Review</a
          >
        </div>
        <div class="h-[400px] w-[500px] bg-red-50"></div>
      </div>
    </div>
  </section>

  <section class="px-edge py-20">
    <div class="mx-auto max-w-screen-xl">
      <div class="flex justify-between gap-10">
        <div>
          <Image
            src={import("@img/home/busy-business-owner.png")}
            alt="busy business owner"
          />
        </div>
        <div class="max-w-xl">
          <h2 class="text-4xl font-bold">
            A Web Design Agency For Busy Business Owners
          </h2>
          <div class="my-5 space-y-5 text-lg">
            <p>
              We’re Simply Sprout, and we design websites that generate paying
              clients.
            </p>
            <p>
              Most websites end up neglected and we don’t blame you. Staying on
              top of your website is a time consuming task.
            </p>
            <p>
              That’s why busy business owners just like you partner with Simply
              Sprout. Your marketing partner dedicated to helping your spend
              more time on what you love.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ReviewSection />
  <BenefitsSection />

  <section class="px-edge py-20">
    <div class="mx-auto max-w-screen-xl">
      <div class="flex justify-between gap-10">
        <div class="h-[660px] w-[780px] bg-red-50"></div>
        <div class="max-w-xl">
          <h2 class="text-4xl font-bold">
            A Web Design Agency For Busy Business Owners
          </h2>
          <div class="my-5 space-y-5 text-lg">
            <p>
              We’re Simply Sprout, and we design websites that generate paying
              clients.
            </p>
            <p>
              Most websites end up neglected and we don’t blame you. Staying on
              top of your website is a time consuming task.
            </p>
            <p>
              That’s why busy business owners just like you partner with Simply
              Sprout. Your marketing partner dedicated to helping your spend
              more time on what you love.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ServicesSection />
</Layout>
