---
import Layout from "src/layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import ReviewSection from "src/sections/ReviewSection.astro";
import CallToAction from "src/sections/CallToAction.astro";
---

<Layout
  seo={{
    metaTitle: "Pricing | Simply Sprout",
    metaDescription: "CHANGE THIS!!!",
  }}
>
  <section class="px-edge py-10">
    <div
      class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-10 lg:flex-row"
    >
      <div class="max-w-xl shrink grow-0 text-center lg:text-left">
        <h1 class="text-5xl font-bold">Straightforward Pricing</h1>
        <p class="mt-8 leading-relaxed">
          Everything we do at Simply Sprout is centered around making your
          online marketing run smoothly, and our pricing is no different.
          <span class="font-bold">
            Simple, straightforward, predictable pricing.
          </span>
        </p>
      </div>
      <Image
        class="rounded shrink grow-0"
        width={500}
        src={import("@img/pricing/pricing.png")}
        alt="website management"
      />
    </div>
  </section>

  <section class="px-edge py-10">
    <div class="mx-auto max-w-screen-xl">
      <div class="w-full rounded bg-white p-10 shadow">
        <div class="flex items-start justify-between gap-10">
          <Image
            class="rounded-full"
            width={125}
            src={import("@img/pricing/the-foundation.png")}
            alt="the foundation service"
          />

          <div class="w-full">
            <div class="flex justify-between">
              <h3 class="text-5xl font-bold">The Foundation</h3>
              <p class="text-4xl font-bold text-primary">$200/mo.</p>
            </div>
            <p class="max-w-3xl">
              Simply Sprout has reimagined how you think about your website. Say
              good by to DIY builders and hello to your new website partner. The
              Foundation is for business owners who want a website that
              increases their visibility <span class="font-bold">AND</span> a partner
              they can trust to make sure their website is always in tip top shape.
            </p>
          </div>
        </div>
        <div class="mt-10">
          <p class="text-center text-xl font-bold uppercase">Highlights</p>
          <div class="mt-5 flex justify-between">
            <div class="max-w-sm text-center">
              <Icon
                name="ic:outline-desktop-windows"
                size={50}
                class="mx-auto block text-primary"
              />
              <p class="mt-2 text-2xl font-bold">Custom Website</p>
              <p>
                Your business and its goals are unique. Your website deserves to
                be just as unique. We custom design your website to optimize for
                your goals.
              </p>
            </div>
            <div class="max-w-sm text-center">
              <Icon
                name="healthicons:eco-care"
                size={50}
                class="mx-auto block text-primary"
              />
              <p class="mt-2 text-2xl font-bold">Website Care</p>
              <p>
                Everything your website needs to stay running as optimally as
                possible. No confusing servers, bandwith limits, or logins to
                deal with. We make sure your website stays running.
              </p>
            </div>
            <div class="max-w-sm text-center">
              <Icon
                name="mdi:support"
                size={50}
                class="mx-auto block text-primary"
              />
              <p class="mt-2 text-2xl font-bold">Ongoing Support</p>
              <p>
                Unlimited revisions and priority support means that you are
                never on your own. Need some copy changed? An image swapped? We
                have you covered!
              </p>
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <a
            class="mt-10 inline-block rounded bg-accent p-3 text-right text-lg text-white"
            href="/services/the-foundation"
            >Learn More About <span class="font-bold">The Foundation</span></a
          >
        </div>
      </div>
    </div>
  </section>

  <CallToAction />
  <ReviewSection />
</Layout>
