---
import Layout from "src/layouts/Layout.astro";
---

<Layout
  seo={{
    metaTitle: "Review Request Success | Simply Sprout",
    metaDescription:
      "If you are seeing this page that means you have successfully requested a website review.",
  }}
>
  <section class="px-edge py-10 lg:py-20">
    <div class="mx-auto max-w-screen-xl text-center">
      <h1 class="text-4xl font-bold">Website Review Request Success</h1>
      <p>
        Thank you for requesting a website review. We will process your request
        as soon as possible. Keep an eye our for our response containing the
        link to the video we have made reviewing your website.
      </p>
    </div>
  </section>
</Layout>
