---
import { Icon } from "astro-icon";
import NavMenu from "./NavMenu";
const links = [
  { linkText: "About", link: "/about" },
  {
    linkText: "Services",
    link: "/services",
  },
  { linkText: "Pricing", link: "/pricing" },
  { linkText: "Contact", link: "/contact" },
];

interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<header
  class={(className ? className : "") +
    " p-5 flex items-center justify-between relative"}
>
  <a href="/" class="font-logo text-2xl">
    <Icon name="logo" class="w-[158px] h-[60px]" />
  </a>

  <NavMenu links={links} client:load />
</header>
