---
export interface Props {
  metaTitle: string;
  metaDescription: string;
}

const { metaTitle, metaDescription } = Astro.props;
---

<>
  {metaTitle && <title>{metaTitle}</title>}
  <meta lang="en" />
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  {metaDescription && <meta name="description" content={metaDescription} />}
</>
