---
import { Image } from "@astrojs/image/components";
const before = [
  "Overwhelmed by wearing too many hats",
  "No sales",
  "No clear conversion process",
];

const after = [
  "Reclaim valuable time",
  "Website generates sales",
  "Clear conversion process",
];
---

<section class="px-edge py-10">
  <div class="mx-auto max-w-screen-xl">
    <h2 class="mx-auto max-w-4xl text-center text-5xl font-bold">
      Your Website Doesn't Need To Be Complicated
    </h2>

    <div
      class="mt-10 flex flex-col items-center justify-center gap-10 md:flex-row md:items-stretch"
    >
      <div class="rounded bg-gray-200 py-12 px-11">
        <p class="text-center text-3xl font-bold">Before Simply Sprout</p>
        <div class="mt-5 flex justify-center">
          <Image
            src={import("@img/services/before-simply-sprout.png")}
            alt="before simply sprout"
            width={404}
            height={307}
          />
        </div>
        <ul class="mt-5 flex flex-col items-center text-center">
          {
            before.map((item) => (
              <li class="marker:text-accent list-disc text-lg">{item}</li>
            ))
          }
        </ul>
      </div>

      <div class="rounded bg-accent py-12 px-11 text-white">
        <p class="text-center text-3xl font-bold">After Simply Sprout</p>
        <div class="mt-5 flex justify-center">
          <Image
            src={import("@img/services/after-simply-sprout.png")}
            alt="after simply sprout"
            width={404}
            height={307}
          />
        </div>
        <ul class="mt-5 flex flex-col items-center text-center">
          {
            after.map((item) => (
              <li class="list-disc text-lg marker:text-white">{item}</li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
